* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, Arial, sans-serif;
  background: #0f172a;
  color: #e2e8f0;
  line-height: 1.6;
}

/* HERO */
.hero {
  width: 100%;
  min-height: 45vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  background: linear-gradient(135deg, #3b82f6, #8b5cf6);
  color: white;

  padding: 40px 20px;
}

.hero h1 {
  font-size: 3rem;
}

.hero p {
  margin-top: 10px;
  opacity: 0.9;
}

.hero a {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background: white;
  color: #111;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
}

.hero a:hover {
  background: #e2e8f0;
}

/* SECCIONES */
section {
  max-width: 900px;
  margin: auto;
  padding: 60px 20px;
}

h2 {
  margin-bottom: 20px;
  font-size: 1.8rem;
  border-left: 4px solid #3b82f6;
  padding-left: 10px;
}

/* PROYECTOS */
.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.card {
  background: #1e293b;
  padding: 20px;
  border-radius: 12px;
  transition: transform 0.2s ease;
}

.card:hover {
  transform: translateY(-5px);
}

/* FOOTER */
footer {
  text-align: center;
  padding: 30px;
  background: #020617;
  margin-top: 40px;
  font-size: 0.9rem;
}

/* 📱 RESPONSIVE */
@media (max-width: 768px) {
.hero {
  height: 15vh;
}
  .hero h1 {
    font-size: 2rem;
  }

  .grid {
    grid-template-columns: 1fr;
  }

  section {
    padding: 40px 15px;
  }
}
